@charset "UTF-8";

/* Color schemes */
:root {
  --color-background: #fffff8;
  --color-foreground: #111111;
  --color-muted-background: #f8f8f8;
  --color-muted-foreground: #111111;

  --font-heavy: 800;
  --font-medium: 600;
  --font-regular: 400;
  --font-light: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #151515;
    --color-foreground: #dddddd;
    --color-muted-background: #252525;
    --color-muted-foreground: #111111;
  }
}

/* Typography */
html {
  font-size: 15px;
}

/* Modified body */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

/* Main navbar (top) */
body > nav {
  font-size: 1.5rem;
  font-family: Jost;
  font-weight: var(--font-regular);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.nav-title {
  font-weight: var(--font-heavy);
  margin-left: 1rem;
  margin-right: 1rem;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.menus-main {
  flex-grow: 1;
}

.menus-social {
  margin-right: 1rem;
}

.nav-main {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-social {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Actual body */
article {
  position: relative;
  width: 87.5%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

/* Breadcrumbs */
.breadcrumbs {
  border-bottom: 0.25rem solid var(--color-muted-background);
  padding-right: 1rem;
  width: max-content;
}

.breadcrumb {
  font-family: Jost;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.breadcrumb-spacer {
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* Table of contents */
.aside-container {
  width: 87.5%;
  display: flex;
}

.aside-container > h1 {
  z-index: 100;
  flex-grow: 1;
  position: relative;
}

aside {
  z-index: 100;
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 25%;
  background-color: var(--color-background);
}

aside > details {
  z-index: 100;
  margin-top: 0;
  margin-left: 0.5%;
  border-radius: 1rem;
  border: 0.25rem solid var(--color-muted-background);
}

.table-of-contents {
  border: 0.25rem solid var(--color-muted-background);
  border-radius: 1rem;
}

aside > details > summary {
  list-style-type: "";
}

summary {
  cursor: pointer;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  font-family: Jost;
  font-weight: 600;
  font-size: 1.8rem;
}

#TableOfContents {
  margin-top: 1rem;
  margin-left: 1rem;
}

#TableOfContents li {
  font-family: Jost;
  font-size: 1.2rem;
}

#TableOfContents a {
  background: unset;
  text-shadow: unset;
}

/* Example */
.example {
  border: 1px solid var(--color-muted-background);
  border-radius: 0.25rem;
  width: 45%;
  margin: 1rem;
  padding: 1rem;
}

/* Headers */
h1 {
  font-family: Jost;
  font-weight: var(--font-heavy);
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: var(--font-regular);
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: var(--font-regular);
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

/* Seperator */
hr {
  display: block;
  height: 1px;
  width: 70%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Subtitle */
p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

/* Sidenote numeral */
.numeral {
  font-family: et-book-roman-old-style;
}

/* Utilities */
.danger {
  color: red;
}

.center {
  width: 100%;
  text-align: center;
}

.jost {
  font-family: Jost;
}

.bold {
  font-weight: var(--font-heavy);
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Better lists */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

/* Style for list items at deeper levels */
ul > li {
  position: relative;
  padding-left: 0rem; /* Adjust this value as needed */
}

/* Style for list items at deeper levels */
ul ul > li {
  position: relative;
  padding-left: 1rem; /* Adjust this value as needed */
}

/* Style for the text inside list items */
li {
  line-height: 1.5; /* Adjust line height as needed */
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

/* Blockquote */
blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 70%;
  margin-right: 40px;
}

blockquote footer {
  width: 70%;
  font-size: 1.1rem;
  text-align: right;
}

/* Children of article */
article > div,
article > p,
article > footer,
article > table {
  width: 70%;
}

/* 50 + 5 == 70, to be the same width as paragraph */
article > dl,
article > ol,
article > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

/* Top margin for first elements */
dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

/* Figure */
figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 70%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

a:link,
.tufte-underline,
.hover-tufte-underline:hover {
  text-decoration: none;
  background:
    -webkit-linear-gradient(var(--color-background), var(--color-background)),
    -webkit-linear-gradient(var(--color-background), var(--color-background)),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(var(--color-background), var(--color-background)),
    linear-gradient(var(--color-background), var(--color-background)),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  -moz-background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow:
    0.03em 0 var(--color-background),
    -0.03em 0 var(--color-background),
    0 0.03em var(--color-background),
    0 -0.03em var(--color-background),
    0.06em 0 var(--color-background),
    -0.06em 0 var(--color-background),
    0.09em 0 var(--color-background),
    -0.09em 0 var(--color-background),
    0.12em 0 var(--color-background),
    -0.12em 0 var(--color-background),
    0.15em 0 var(--color-background),
    -0.15em 0 var(--color-background);
  background-position:
    0% 93%,
    100% 93%,
    0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link,
  .tufte-underline,
  .hover-tufte-underline:hover {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection,
a:link::-moz-selection {
  text-shadow:
    0.03em 0 #b4d5fe,
    -0.03em 0 #b4d5fe,
    0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe,
    0.06em 0 #b4d5fe,
    -0.06em 0 #b4d5fe,
    0.09em 0 #b4d5fe,
    -0.09em 0 #b4d5fe,
    0.12em 0 #b4d5fe,
    -0.12em 0 #b4d5fe,
    0.15em 0 #b4d5fe,
    -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -40%;
  width: 35%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

span.line {
  flex-grow: 1;
}

.highlight > pre {
  border-radius: 0.25rem;
  padding-top: 1rem;
}

.highlight > pre > code {
  width: 95%;
  padding-bottom: 1rem;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  .menus-main {
    flex-direction: column;
  }
  .menus-social {
    flex-direction: column;
  }
  body > nav {
    text-align: center;
    border-bottom: 1px solid var(--color-foreground);
  }
}

@media (max-width: 760px) {
  .aside-container {
    display: flex;
    flex-direction: column;
  }

  aside {
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    width: 100%;
  }

  aside > details {
    position: relative;
  }

  article {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  article > p,
  article > footer,
  article > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  article > dl,
  article > ol,
  article > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}
