<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
<nav class="horizontal-container">
  <span class="nav-title">
    <a class="no-tufte-underline" href="{{ .Site.BaseURL }}"
      >{{ .Site.Title }}</a
    ></span
  >
  <div class="menus-main horizontal-container">
    {{ range .Site.Menus.main }}
    <span class="nav-main">
      <a class="no-tufte-underline" href="{{ .URL }}">{{ .Name }}</a>
    </span>
    {{ end }}
  </div>
  <div class="menus-social horizontal-container">
    {{ range .Site.Menus.social }}
    <span class="nav-social">
      <a class="no-tufte-underline" href="{{ .URL }}">{{ .Pre }}</a>
    </span>
    {{ end }}
  </div>
</nav>
